body {
  background: linear-gradient(90deg, rgba(36, 64, 118, 0.80) 0%, rgba(228, 233, 243, 0.80) 99.98%, rgba(198, 208, 227, 0.69) 99.99%, rgba(36, 64, 118, 0.80) 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  font-family: "Inter", sans-serif;
}

.navbar{
  box-shadow:4px 7px 10px rgba(0,0,0,.4);
  margin-bottom: 7%;
}


.password-container {
  position: relative;
}

.password-container input[type="password"] {
  padding-right: 40px; 
}

.password-container i {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  cursor: pointer;
}

  
  .form-control{
    width: 29.6vw
  }
  .input-group-append{
    background-color: #A2A2A2
  }
  .input-group mb-3{
    background-color: #A2A2A2;
  }
  .input-group-text{
    background-color: #A2A2A2;
    border: none;
  }
  .col-4 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  

   
