body {
  background: linear-gradient(90deg, rgba(36, 64, 118, 0.80) 0%, rgba(228, 233, 243, 0.80) 99.98%, rgba(198, 208, 227, 0.69) 99.99%, rgba(36, 64, 118, 0.80) 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  font-family: "Inter", sans-serif;
}

.navbar{
  box-shadow:4px 7px 10px rgba(0,0,0,.4);
  margin-bottom: 7%;
}


/* .password-container {
  position: relative;
  cursor: pointer;
} */

/* .password-container input[type="password"] {
  padding-right: 40px; 
} */

  /* .password-container i {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    cursor: pointer;
  } */

  
  .form-control1{
      display: block;
      width: 83.3%;
      height: calc(1.5em + 0.75rem + 2px);
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #0f0f10;
      background-color: #ffffff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      /* border-radius: 0.25rem; */
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .input-group-append{
    background-color: #A2A2A2
  }
  .input-group mb-3{
    background-color: #A2A2A2;
  }
  .input-group-text{
    background-color: #A2A2A2;
    border: none;
  }
  .col-4 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.password-toggle-container {
    cursor: pointer;
    background-color: #fff;
}


  

   
