@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

p {
  padding-top: 1%;
}
strong.datasiswadas{
    /* color: transparent;  */
    font-family: Inter, sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 700; /* Bold font weight */
    line-height: normal;

    /* background-color:#091d45; */
    background-clip: text;
    background-size: 75px 75px ;
    animation: rgb 10s infinite linear;
}
@keyframes rgb {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 0 100%;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }

}

.navbar {
  box-shadow: 4px 7px 10px rgba(0, 0, 0, .4);
  position: fixed;
  width: 100%;
}

.data-siswa {
  background-color: #ffff;
  box-shadow: 4px 7px 10px rgba(0, 0, 0, .4);
  margin-left: 6%;
  margin-right: 1%;
  margin-top: 2%;
}

.data-siswa3 {
  border-radius: 15px;
  background-color: #ffff;
  box-shadow: 4px 7px 10px rgba(0, 0, 0, .4);
  margin-left: 6%;
  margin-right: 1%;
  margin-top: 2%;
}

.container {
  margin-left: -60px;
  margin-right: 0%;
}

.col.order-first.middle {
  margin-left: -90px;
}

.img-kanisius {
  width: 25%;
  margin-left: 20%;
  margin-top: 13.4%;
}

.branding {
  width: 25vw;
  margin-top: 20%;
  margin-left: 20%;

}

.ihs-logo {
  width: 30%;
  margin-left: 61.5%;
  margin-top: 10%;
}

.img-kanisius-baru {
  /* width: 25%;
  margin-left: 35%;
  margin-top: 16%; */
  width: 43%;
  margin-left:85%;
  margin-top: 18%;
}

.branding-baru {
  width: 35vw;
  margin-top: 10%;
  margin-left: 45%;

}

.ihs-logo-baru {
  width: 30%;
  margin-left: 50%;
  margin-top: 10%;
}

.fs-3 {
  margin-top: -3%;
}


.filter {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}
.search-container {
  margin-left: 1%;
  justify-content: end;
  flex-shrink: 0;
}

.search-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
  /* Adjust the width as needed */
}

.dropdown-select {
  width: 120px;
  /* Adjust the width as needed */
  height: 34px;
  /* Adjust the height as needed */
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.icon {
  width: 2vw;
  margin-top: 3vw;
  margin-left: 15%;
}

/* .content{
  margin-top: 50%;
} */

.content-akun {
  margin: 5%;
  margin-left: 10%;
  margin-top: 8%;
}

.radio-container {
  display: flex;
  align-items: center;
  margin-left: 5%;
}

.radio-container input[type="radio"] {
  margin-right: 10px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #333;
  outline: none;
  cursor: pointer;
}

.radio-container input[type="radio"]:checked {
  background-color: #333;
}



.gradient-custom {
  /* fallback for old browsers */
  background: #f6d365;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
}

.toper {
  margin-top: 2%;
  padding: 5%;
  margin-left: 2%;
}

.text-p {
  font-size: 2vw;
  margin-top: -2%;
}

.item-bar {
  margin-top: 1%;
  margin-right: -2%;
}

.text-p-yayasan {
  margin-left: -5%;
  font-size: 2vw;
  font-weight: bold;
}

.toast-top-right {
  margin-top: 5%;
  /* background-color: #000 */
}

/* Toast dengan latar belakang sesuai jenis */
.toast-success {
  background-color: rgb(14, 181, 59) !important;
  color: #000;
  position: relative !important;
}

.toast-warning {
  background-color: #ffcc00 !important;
  color: #000;
  position: relative !important;
}

.toast-error {
  background-color: #ff0000 !important;
  color: #fff;
  position: relative !important;
}



@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);


@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

.fa-2x {
  font-size: 2em;
}

.fa {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}
.password-toggle {
  position: absolute;
  top: 62%;
  right: 5px;
  transform: translateY(-50%);
  cursor: pointer;
    
}
.password-container {
  position: relative;
  cursor: pointer;
}



.main-menu:hover,
nav.main-menu.expanded {
  width: 250px;
  overflow: visible;
}

.main-menu {
  box-shadow: 4px 7px 10px rgba(0, 0, 0, .4);
  margin-top: 5.5%;
  background: #ffffff;
  border-right: 1px solid #e5e5e5;
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 60px;
  overflow: hidden;
  -webkit-transition: width .05s linear;
  transition: width .05s linear;
  -webkit-transform: translateZ(0) scale(1, 1);
  z-index: 1000;
}

.main-menu>ul {
  margin: 7px 0;
}

.main-menu li {
  position: relative;
  display: block;
  width: 250px;
}

.main-menu li>a {
  position: relative;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: #000000;
  font-family: arial;
  font-size: 18px;
  text-decoration: none;
  -webkit-transform: translateZ(0) scale(1, 1);
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

.main-menu .nav-icon {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
}

.main-menu .nav-text {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 190px;
  font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
  position: absolute;
  left: 0;
  bottom: 10%;
}

.no-touch .scrollable.hover {
  overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
  overflow-y: auto;
  overflow: visible;
}

a:hover,
a:focus {
  text-decoration: none;
}

nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

nav ul,
nav li {
  outline: 0;
  margin: 0;
  padding: 0;
}

.main-menu li:hover>a,
nav.main-menu li.active>a,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
  color: #ffffff;
  background-color: #ababab;
}

.area {
  float: left;
  background: #e2e2e2;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}




.data-siswa1 {
  box-shadow: 4px 7px 10px rgba(0, 0, 0, .4);
  margin-left: 6%;
  margin-top: 6%;
  margin-right: 1%;
  border-radius: 20px 20px 0px 0px;
  border-radius: 15px;
  border: 1px solid #000;
  background-color: #ffffff;
  /* position: relative; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card1 {
  box-shadow: 4px 7px 10px rgba(0, 0, 0, .4);
  margin-left: 6%;
  margin-top: 6%;
  margin-right: 1%;
  border-radius: 20px 20px 0px 0px;
  border-radius: 15px;
  border: 1px solid #000;
  background-color: #ffffff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card2 {
  border-radius: 15px;
  border: 1px solid #000; 
  background-color: #ffffff;
  
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}

.card-header1  {
  overflow: hidden;
  justify-content: flex-start; /* Tulisan di sebelah kiri */
  align-items: center;
  background-color: #cbd5ef; /* Warna background */
  padding: 10px;
  border-radius: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-header1 .card-title {
  margin: 0;
  white-space: nowrap;
  padding-right: 450px;
  padding-left: 450px;
  flex: 1; /* Memastikan tulisan tetap dalam satu barisan */
  white-space: nowrap; /* Menghindari pemotongan */
  overflow: hidden;
  text-overflow: ellipsis;
} 
.data-siswa5 {
  box-shadow: 4px 7px 10px rgba(0, 0, 0, .4);
  margin-left: 6%;
  margin-top: 6%;
  margin-right: 1%;
  border-radius: 20px 20px 0px 0px;
  border-radius: 15px;
  border: 1px solid #000;
  background-color: #ffffff;
  /* position: relative; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.table-data{
  border-radius: 15px;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}


  .border {
    /* background-color: aqua;
    display: inline; 
    padding: 5px;
    display: block;
    width: 100%; */
    /* padding: 10px; */
    /* text-align: start;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
    text-decoration: none;
    color: #333; */
  }
  .custom-text {
    /* display: inline-block; */
    padding: 5px 10px;
    background-color: #46c476;
    /* vertical-align: middle; */
  }

#formContainer {
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  /* width: 100%; */
  /* margin: 0 auto; */
}
/* Style untuk tombol-tombol */
.btn-group {
  margin-top: 3px;
  /* display: flex; */
  flex-wrap: wrap;
}

.btn-check {
  display: none;
}

.btn-secondary {
  cursor: pointer;
}

/* Gaya untuk pilihan kelas */
.col-mt-3 {
  margin-top: 5px;
  /* justify-content: center; */
}x  

/* Gaya untuk tombol submit dan download */
#submit,
.btn-success {
  margin-top: 20px;
}


  